<!-- Webpage creation - Rajitha Muthukrishnan -->
<!-- Webpage enhancement - Bhargavi Kallam -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
    <title>Calories Prediction</title>
  </head>
  
  <body>
    <div class="header">
		  <h1>Calories Prediction </h1>
    </div>
  
    <form action = "http://localhost:5000/predict" method = "POST" enctype = "multipart/form-data">
      <div class="text">
        <label for="Gender">Gender &emsp;&emsp;&emsp;&emsp; :</label>
		    <select name = "Gender" id="gender"  style="height: 25px; font-size: 18px;" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        </select>
		    <br>
		
        <label for="Age">Age &emsp;&emsp;&emsp;&emsp;&emsp;&ensp; :</label>
        <input type="text" name="Age" id="age" required>
		    <br>
		
        <label for="Height">Height &emsp;&emsp;&emsp;&ensp;&ensp;&nbsp; :</label>
        <input type = "text" name = "Height" id="height" required>
        <select name = "heightUnit" id = "heightunit"  style="height: 25px; font-size: 18px;" >
          <option value="cm">Centimeters</option>
          <option value="ft">Feet</option>
        </select>
		    <br>
		
        <label for="Weight">Weight &emsp;&emsp;&emsp;&ensp;&ensp; :</label>
        <input type = "text" name = "Weight" id="weight" required>
        <select name = "weightUnit" id = "weightunit"  style="height: 25px; font-size: 18px; " >
          <option value="kg">Kilograms</option>
          <option value="lb">Pounds</option>
        </select>
		    <br>
		
        <label for="Duration">Duration &emsp;&emsp;&emsp;&nbsp; :</label>
        <input type = "text" name = "Duration" id="duration" required>
        <select name = "durationUnit" id = "durationunit" style="height: 25px; font-size: 18px; " >
            <option value="min">Minutes</option>
            <option value="hr">Hours</option>
        </select>
        <br>
		
        <label for="HeartRate (bpm)">Heart-Rate(bpm) :</label>
        <input type = "text" name = "Heart Rate"  id="heartRate" required>    
        <br>
            
        <input type='submit' value="Submit">
        <input type='reset' value="Reset" onclick="document.getElementById('detailsDiv').style.opacity=0">
        <br>

        <div id = "detailsDiv">
          <div id = "detail">{{gender}}</div>
          <div id = "detail">{{age}}</div>
          <div id = "detail">{{height}}</div>
          <div id = "detail">{{weight}}</div>
          <div id = "detail">{{duration}}</div>
          <div id = "detail">{{heartrate}}</div>
          <div id = "result">{{pred}}</div>
        </div>
      </div>
    </form>  
  </body>
</html> 